.Text, label {
    font-family: Arial, Helvetica, sans-serif;
}

.menuText {
    font-size : medium; 
    display : flex;
    flex-wrap: wrap;
    align-items : center;
}

.ButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.Buttons {
    padding : 5px;
}

.ButtonText {
    font-size: medium;
}

select {

    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}